@model IEnumerable<VehicleManagementSystem.Models.Sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h4>Vehicle sale table</h4>
<hr />
<p>
    @Html.ActionLink("Assign a vehicle to a client", "Create", null, null, new { @class = "btn btn-success d-inline" })
</p>
<table class="display" id="table_id">
    <thead>
        <tr>
            <th>
                Date of purchase
            </th>
            <th>
                Client name
            </th>
            <th>
                Model name
            </th>
            <th>Service due on</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfPurchase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.ModelName)
                </td>
                <td>
                    @(item.DateOfPurchase.Value.AddMonths(1).Date)
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="Send Email" name="sendmail"> |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
        </tbody>
    }

</table>
<script>
    $(function () {
        $("input[name='sendmail']").click(function () {
            alert("A reminder email has been sent to the client about his vehicle service")
        });
    })

    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>